# **Data** **Types** **and** **Structures** **Questions**

1.What are data structures, and why are they important

- data structure are ways of organizing and storing data effciently to enable easy access modification and processing.
- important of data structure is improve efficiency of alogorithms, optimize memory usage, enable fatser data retrieval and manipulation, essential for problem solving in software devlopment

2.Explain the difference between mutable and immutable data types with examples

   - mutable data types allow modifications after they are created

In [ ]:
number=[1,2,3]
print(number)
number.append(5)
print(number)

[1, 2, 3]
[1, 2, 3, 5]

  - immutable data types do not allow modifications after creation

In [ ]:
number=(1,2,3)
print(number)
number[0]=5

(1, 2, 3)

TypeError: 'tuple' object does not support item assignment

3.What are the main differences between lists and tuples in Python

  - list is mutable it allow for change it is use sqaure bracket for syntax but performance is slower it is use more memory in list operation allow in append,remove,update and use case of list is when the data needs modification
  - tuple is immutable it is not allow for channge and it is use parentheses for syntax but performnace is faster and use of memory is less in tuple operation allow only access and count and use case of tuple when data should remain constant

4.Describe how dictionaries store data

   - a dictionary in Python is like a real-world dictionary You look up a word and it gives you the meaning every item in a dictionary has a key and a value python
   - python converts each key into a unique number and If two keys accidentally have the same hash, python finds another place to store one of them if too many items are added, Python expands the dictionary and reorganizes the storage for efficiency

5.Why might you use a set instead of a list in Python

-  a set is an unordered collection of unique elements, while a list is an ordered collection that allows duplicates a set automatically removes duplicates, while a list allows them
- sets use hashing, so checking if an item exists is very fast Sets allow mathematical operations like union, intersection, and difference, which lists do not support directly

6.What is a string in Python, and how is it different from a list

- a string in Python is a sequence of characters enclosed in quotes ' ' or " " Strings are immutable, meaning they cannot be changed after creation string is sequence of character and it is immutable
- string is cannot modify individual character syntax use in string is " " , ' '  indexing and slicing both supprot in string

7.How do tuples ensure data integrity in Python

- a tuple in Python is an immutable sequence, meaning its elements cannot be modified after creation. This immutability helps ensure data integrity by preventing accidental changes tuples can be used as keys in dictionaries because they are immutable, while lists cannot
- when you use tuples instead of lists, you guarantee that values won't change unexpectedly during execution and since tuples are fixed in size, Python optimizes them for faster access and lower memory usage compared to lists

8.What is a hash table, and how does it relate to dictionaries in Python

  - a hash table is a data structure that stores key value pairs allowing for effient lookup insertion and deletion of data using a hash function to map.a hash table in python is nothing but a data structure where data is stored in an associative manner
  - in python dictionaries are data structure that strord data as key value pairs allowing you to efficiently access and manipulate data.Mutuable data structure that allow you to store key value pairs

9.Can lists contain different data types in Python

 - python lists can store multiple data types in a single list. Unlike some programming languages that enforce type restrictions, Python lists are heterogeneous, meaning they can hold elements of different types at the same time

10.Explain why strings are immutable in Python


- strings are immutable, meaning their values cannot be changed after they are created.Memory Efficiency String Interning
Python optimizes memory usage by storing identical string values in the same memory location string interning
If strings were mutable, modifying one would unintentionally affect all references to that string. Simplicity & Predictability
With immutability, there's no unexpected modification of strings, making debugging and program behavior more predictabl
- encourages Functional Programming
Immutable objects align well with functional programming principles, where functions do not cause by side

11.What advantages do dictionaries offer over lists for certain tasks

 - dictionaries automatically prevent duplicate keys, making them useful for tasks requiring unique identifiers accessing values in a dictionary by key is much faster than searching through a list, which requires O time in the worst case
 -  data stored as key-value pairs allows for more meaningful and structured access, rather than relying on index positions ictionaries allow different data types as values, whereas lists typically store homogeneous data or require indexing for mixed data retrieval

12.Describe a scenario where using a tuple would be preferable over a list
- tuple is preferable over a list when immutability, performance, or hashability is important
- you're building a system that fetches user details from a database, returning name, age, and email Since these values should not be modified accidentally, a tuple is a better choice
-Immutability → Prevents accidental modification of returned data
fficient Unpacking → Supports easy multiple assignment (a, b, c = func()), making code cleaner
Performance → Tuples are faster than lists due to their fixed size.

13.How do sets handle duplicate values in Python

- in this python set atomatically remove duplicate value when the element are added set are unorderd collection of unique element means they not allow duplicates
- in python you added duplicate value to a set it is ignore and the set only keeps one instance of each unique value

14.How does the “in” keyword work differently for lists and dictionaries
- he in keyword is used to check for membership in Python, but it works differently for lists and dictionaries due to their underlying data structures
- in a list, Python checks each element one by one and in a dictionary, in checks for the existence of a key

15.Can you modify the elements of a tuple? Explain why or why not
 - you cannot modify the elements of a tuple in Python because tuples are immutable. This means that once a tuple is created, its elements cannot be changed, added, or removed
 - the reason of tuple are immutable is memory efficiency and hashability and data intergrity

16.What is a nested dictionary, and give an example of its use case
- a nested dictionary is a dictionary within a dictionary, where the values of the outer dictionary are themselves dictionaries this his structure is useful for organizing complex data hierarchies
- the usage of nested dictionary is efficiently organizes related data and allows easy lookup and modifications and keeps data structured and readable

17.Describe the time complexity of accessing elements in a dictionary
- In Python, dictionaries are implemented using hash tables, making element access very efficient In rare cases, hash collisions when multiple keys hash to the same value  can degrade performance When accessing an element using its key (dict[key]), Python computes the hash of the key and looks it up in the internal table.

18.In what situations are lists preferred over dictionaries
- if you need to maintain the order of elements, a list is the best choice
python 3.7+ preserves insertion order in dictionaries, but lists are still better for ordered sequences
- If you don't need key-value pairs, a list is simpler and more memory-efficient

19.Why are dictionaries considered unordered, and how does that affect data retrieval
- python dictionaries were unordered because they were implemented using hash tables, which do not maintain a predictable order of keys
- the placement of elements in memory depended on the hash values of keys rather than the order in which they were inserted

20.Explain the difference between a list and a dictionary in terms of data retrieval
- lists are best for ordered collections when you frequently access elements by position
- dictionaries are better for fast lookups when you need to retrieve values based on unique keys instead of numerical indices

# **Practical** **Questions**

In [ ]:
#1.Write a code to create a string with your name and print it
name=("suyog")
print(name)

suyog

In [ ]:
#2.Write a code to find the length of the string "Hello World"
string=("hello world")
len(string)

11

In [ ]:
#3.Write a code to slice the first 3 characters from the string "Python Programming"
string=("python programming")
string[0:3]

'pyt'

In [ ]:
#4.Write a code to convert the string "hello" to uppercase
string=("hello")
string.upper()

'HELLO'

In [ ]:
#5.Write a code to replace the word "apple" with "orange" in the string "I like apple"
string = "I like apple"
modified_string=string.replace("apple", "orange")
print(modified_string)

I like orange

In [ ]:
#6.Write a code to create a list with numbers 1 to 5 and print it
number=(1,2,3,4,5)
list_of_number=number
print("list with number",number)

list with number (1, 2, 3, 4, 5)

In [ ]:
#7.Write a code to append the number 10 to the list [1, 2, 3, 4]
numbers = [1, 2, 3, 4]
numbers.append(10)
print("number", numbers)

number [1, 2, 3, 4, 10]

In [ ]:
#8.Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print("list:", numbers)

list: [1, 2, 4, 5]

In [ ]:
#9.Write a code to access the second element in the list ['a', 'b', 'c', 'd']
letters = ['a', 'b', 'c', 'd']
second_element = letters[1]
print("Second element:", second_element)

In [ ]:
#10.Write a code to reverse the list [10, 20, 30, 40, 50].
numbers = [10, 20, 30, 40, 50]
numbers.reverse()
print("Reversed list:", numbers)

Reversed list: [50, 40, 30, 20, 10]

In [ ]:
#11.Write a code to create a tuple with the elements 100, 200, 300 and print it
tuple=(100,200,300)
print(tuple)

(100, 200, 300)

In [ ]:
#12.Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')
colour=("red","green","blue","yellow")
second_to_last=colour[1:4]
print(second_to_last)

('green', 'blue', 'yellow')

In [ ]:
#13.Write a code to find the minimum number in the tuple (10, 20, 5, 15)
number=(10,20,5,15)
min(number)

5

In [ ]:
#14.Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')
animals=("dog","cat","rabbit")
animals.index("cat")

1

In [ ]:
#15.Write a code to create a tuple containing three different fruits and check if "kiwi" is in it
fruits=("apple","banana","kiwi")
"kiwi" in fruits

True

In [ ]:
#16.Write a code to create a set with the elements 'a', 'b', 'c' and print it
set=("a","b","c")
print(set)

('a', 'b', 'c')

In [ ]:
#17.Write a code to clear all elements from the set {1, 2, 3, 4, 5}
set={1,2,3,4,5}
set.clear()
print(set)

set()

In [ ]:
#18.Write a code to remove the element 4 from the set {1, 2, 3, 4}
set={1,2,3,4}
set.remove(4)
print(set)

{1, 2, 3}

In [ ]:
#19.Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}
set1={1,2,3}
set2={3,4,5}
set1.union(set2)

{1, 2, 3, 4, 5}

In [ ]:
#20.Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}
set1={1,2,3}
set2={2,3,4}
set1.intersection(set2)

{2, 3}

In [ ]:
#21.Write a code to create a dictionary with the keys "name", "age", and "city", and print it
person={"name":"alice","age":"25","city":"new york"}
person

{'name': 'alice', 'age': '25', 'city': 'new york'}

In [ ]:
#22.Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
person = {'name': 'John', 'age': 25}
person['country'] = 'USA'
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [ ]:
#23.Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
person = {'name': 'Alice', 'age': 30}
name_value = person['name']
print(name_value)

Alice

In [ ]:
#24.Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}
person={"name":"bob","age":"22","city":"new york"}
person.pop("age")
print(person)

{'name': 'bob', 'city': 'new york'}

In [ ]:
#25.Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}
person={"name:":"alice","city":"paris"}
key_exist="city"in person
print(key_exist)

True

In [ ]:
#26.Write a code to create a list, a tuple, and a dictionary, and print them all
list=(1,3,4,6)
tuple=("mango","fruits","suyog")
dict={"name":"suyog","age":"21"}
print("list",list)
print("tuple",tuple)
print("dict",dict)

list (1, 3, 4, 6)
tuple ('mango', 'fruits', 'suyog')
dict {'name': 'suyog', 'age': '21'}

In [ ]:
#27Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
#result
random_numbers = random.sample(range(1, 101), 5)
random_numbers.sort()
print("Sorted random numbers:", random_numbers)

NameError: name 'random' is not defined

In [ ]:
#28.Write a code to create a list with strings and print the element at the third index
string_list=["apple","banana","cherry","date","elderberry"]
print("Element at index 3:",string_list[3])

Element at index 3: date

In [ ]:
#29.Write a code to combine two dictionaries into one and print the result
dict1={"a":1,"b":2,"c":3}
dict2={"d":4,"e":5,"f":6}
combined_dict=dict1.copy()
print("Combined Dictionary:",combined_dict)

Combined Dictionary: {'a': 1, 'b': 2, 'c': 3}

In [ ]:
#30.Write a code to convert a list of strings into a set
string_list=["apple","banana","cherry","apple","banana"]
string_set=set(string_list)
print("Converted set:",string_set)

TypeError: 'set' object is not callable